/*
	code.entertainotron.net Style Sheet
	Author: Entertainotron
	Filename: style.css
*/

body {
	background-color: #000000;
	color: lightgreen; 
	font-size: 14px; 
	font-family: courier new; 
	text-align: center; 
	height: 100%;
	}
		
a:link {
	color: lightgreen; 
	text-decoration: none;
	}
		
a:hover	{
	color: green; 
	text-decoration: none;
	}
		
a:visited {
	color: green; 
	text-decoration: none;
	}
		
#header { 
	margin-bottom: 15px;
	position: absolute;
	top: 0px;
	} 
#meat {
	position: relative;
	}
		
#footer { 
	color: gray;
	position: fixed;
	bottom: 0px;
	} 
