/*
	code.entertainotron.net Style Sheet
	Author: Entertainotron
	Filename: style.css
*/

body {
	background-color: #000000;
	color: lightgreen; 
	font-size: 14px; 
	font-family: courier new; 
	text-align: center; 
	}
		
a:link {
	color: lightgreen; 
	text-decoration: none;
	}
		
a:hover	{
	color: green; 
	text-decoration: none;
	}
		
a:visited {
	color: green; 
	text-decoration: none;
	}
		
#header { 
	height: 20px; 
	} 
#meat {
	font-size: 20px;
	height:300px;
	}
		
#footer { 
	color: gray;
	height: 20px;
	} 
